<div class="banner" style="background-image: url(http://www.matadorroom.com/content/slides/51.jpg);">
  <div class="banner-content">
    <h1>Happy Cocktail</h1>
    <p>Make your own Recipes</p>
  </div>
</div>
